
@{
    ViewData["Title"] = "Thread";
}


<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <meta charset="utf-8">

    <title>Blank template</title>

    <!-- Load external CSS styles -->
    <link rel="stylesheet" href="styles.css">

</head>

<body style="background-color: #DCDCDC">

    <h1>Funcionamento de Thread - Modo Usuário</h1>

    <!-- Load external JavaScript -->
    <script src="scripts.js"></script>
    <center>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-2">

                <label for="exampleFormControlInput1" class="form-label">Thread 1</label>

                <input type="text" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col-md-2">
                <label for="exampleFormControlInput1" class="form-label">Thread 2</label>

                <input type="text" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col-md-2">
                <label for="exampleFormControlInput1" class="form-label">Thread 3</label>
                <input type="text" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="col-md-3"></div>

            <div class="" style="margin-top: 5%;margin-left: -33%;">
                <label for="exampleFormControlInput1" class="form-label">Tempo</label>
                <br>
                <input type="text" id="exampleFormControlInput1">
                <br>
                <br>
                <div class="col-md-3">
                    <label for="selecione"> Selecione a prioridade: </label>
                    <select class="form-select" name="select">
                        <option value="valor1" selected>Selecione</option>
                        <option value="Highest">Highest</option>
                        <option value="AboveNormal">AboveNormal</option>
                        <option value="Normal">Normal</option>
                        <option value="BelowNormal">BelowNormal</option>
                        <option value="Lowest">Lowest</option>
                    </select>
                </div>

            </div>


            <div class="footer" style="margin-top: 15%;">
                <button type="button" class="btn btn-outline-primary col-2">Iniciar</button>
                <button type="button" class="btn btn-outline-primary col-2">Finalizar</button>
                <button type="button" class="btn btn-outline-primary col-2">Voltar</button>
            </div>

        </div>


    </center>
    </div>






</body>
