
@{
    ViewData["Title"] = "Thread";
}


<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <meta charset="utf-8">

    <title>Blank template</title>

    <!-- Load external CSS styles -->
    <link rel="stylesheet" href="styles.css">

    <style>
        button {
            width: -webkit-fill-available;
        }
    </style>
</head>

<body style="background-color: #ffedbb;">
    <br />
    <center><h1>Funcionamento de Thread - Modo Kernel</h1></center>
    <br />
    <div style="border:1px solid black;border-radius: 14px;padding: 29px;">

        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label for="thread_1" class="form-label">Thread 1</label>
                <input type="text" id="thread_1" placeholder="" style="border-radius: 6px; height: 43px;">
            </div>
            <div class="col-md-2">
                <label for="thread_2" class="form-label">Thread 2</label>
                <input type="text" id="thread_2" placeholder="" style="border-radius: 6px; height: 43px; ">
            </div>
            <div class="col-md-2">
                <label for="thread_3" class="form-label">Thread 3</label>
                <input type="text" id="thread_3" placeholder="" style="border-radius: 6px; height: 43px;">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label for="process_1" class="form-label">Processo</label>
                <input type="text" id="process_1" placeholder="" style="border-radius: 6px; height: 43px;">
            </div>
            <div class="col-md-2">
                <label for="process_2" class="form-label">Processo</label>
                <input type="text" id="process_2" placeholder="" style="border-radius: 6px; height: 43px; ">
            </div>
            <div class="col-md-2">
                <label for="process_3" class="form-label">Processo</label>
                <input type="text" id="process_3" placeholder="" style="border-radius: 6px; height: 43px;">
            </div>
            <div class="col-md-3"></div>
        </div>
        @*
        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label for="prioridadeId" class="form-label">Prioridade(ms)</label><br />
                <select class="form-select" id="prioridadeId" name="select" style="width: 182px;">
                    <option value="" selected>Selecione...</option>
                    <option value="1">Highest</option>
                    <option value="2">AboveNormal</option>
                    <option value="3">Normal</option>
                    <option value="4">BelowNormal</option>
                    <option value="5">Lowest</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="prioridadeId" class="form-label">Prioridade(ms)</label><br />
                <select class="form-select" id="prioridadeId" name="select" style="width: 182px;">
                    <option value="" selected>Selecione...</option>
                    <option value="1">Highest</option>
                    <option value="2">AboveNormal</option>
                    <option value="3">Normal</option>
                    <option value="4">BelowNormal</option>
                    <option value="5">Lowest</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="prioridadeId" class="form-label">Prioridade(ms)</label><br />
                <select class="form-select" id="prioridadeId" name="select" style="width: 182px;">
                    <option value="" selected>Selecione...</option>
                    <option value="1">Highest</option>
                    <option value="2">AboveNormal</option>
                    <option value="3">Normal</option>
                    <option value="4">BelowNormal</option>
                    <option value="5">Lowest</option>
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <br />
        <br />
        <br />

        <div class="row">
            <div class="col-md-3">
                <label for="tempoId" class="form-label">Tempo(ms)</label><br />
                <input type="number" id="tempoId" style="border-radius: 5px; height: 39px;">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label for="numeroProcesso" class="form-label">Número de Processos</label><br />
                <input type="number" id="numeroProcesso" style="border-radius: 5px; height: 39px;">
            </div>
        </div>
        *@
        <br />
        <br />
        <br />

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success" onclick="chamaMetodo()">Iniciar</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" onclick="finalizaMetodo()">Finalizar</button>
            </div>
            @*
            <div class="col-md-2">
                <button type="button" class="btn btn-warning" onclick="limpaCampos()">Limpar</button>
            </div>
            *@
            <div class="col-md-3">
            </div>
        </div>
    </div>


    <script>

        function chamaMetodo() {


            var data = {

            }
            $.ajax({
                url: '/ThreadPageKernel/Execucao/',
                type: 'POST',
                data: data,
                success: function (result) {
                    if (result.sucesso) {
                    }
                    else {
                        //swal("Alerta!", res.mensagemErro, "error").then(function() {});
                    }
                }
            });

        }
    </script>

</body>
